---
import '../styles/global.css';
import Nav from '../components/Nav.astro';

interface Props{
    frontmatter:{
        title: string;
        description?: string;
    };
}

const { frontmatter } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content={frontmatter.description ?? ''} />
        <title>{frontmatter.title}</title>
    </head>
    <body>
        <Nav/>
        <slot/>
    </body>
</html>

<style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100svh;
    }
</style>